<!-- <br><span class="login100-form-title p-b-49">
  Login
</span>

<form>

    <div class="container">
        <div data-validate="Username is reauired">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

       <button type="submit" (click)="gotodashbord('InstructorDashborad')" class="login100-form-btn">Login</button> -->

<!-- <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" type="submit" (click)="gotodashbord('InstructorDashborad')">
  Login
</button>
            </div>
        </div>


        <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    </div>


</form> -->

<div class="container">


    <div class="header">
        <h1>login</h1>
    </div>
    <div class="main">
        <form>
            <span>

      <input type="text" placeholder="Username" name="">
    </span><br>
            <span>

      <input type="password" placeholder="password" name="">
    </span><br>
            <button (click)="toggle()" routerLink="/InstructorDashborad"> login</button>




        </form>
    </div>
</div>
