<div class="main-menu">

    <ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img [src]="ee">
        <li class="menu-item"><img [src]="dash">&nbsp; <span>Dashboard</span> </li>
        <li class="menu-item"><img [src]="cc">&nbsp;
            <a routerLink="/InstructorDashborad/Instructor-Courses">Courses</a></li>
        <li class="menu-item"><img [src]="quiz">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="/InstructorDashborad/Add-Quiz">Add Quiz </a> </li>
        <li class="menu-item"><img [src]="grade"> &nbsp;<span> Grades</span></li>
        <li class="menu-item"><img [src]="profile"> &nbsp;<span> Profile</span></li>


    </ul>
</div>

<div class="container">
    <section id="course" class="course">

        <h1 class="heading">our courses</h1>
        <h3 class="title">upgrade your skills with newest courses</h3>
 <div *ngFor="let c of course">
        <div class="box-container" >

            <a class="box" routerLink="/InstructorDashborad/Instructor-Courses/Courses-details">

                <h3>{{c.courseName}}</h3>
                <p>{{c.description}}</p>
                <p>{{c.year}}</p>
            </a></div></div>
    
    

    </section>
</div>