<div class="form">
    <div class="title-div">
        <h1>Quiz</h1>

        <p class="required">*Required</p>
    </div>

    <div class="question-div">
        <div class="name">Question<span class="required"></span></div>
        <div class="input-div"><input type="input" id="quest" name="answer" placeholder="Your question"></div>
    </div>

    <div class="answer1-div">
        <div class="name">1.Answer</div>
        <div class="input-div"><input type="input" id="answer1" name="answer" placeholder="Your answer"></div>
    </div>

    <div class="answer2-div">
        <div class="name">2.Answer<span class="required"></span></div>
        <div class="input-div"><input type="input" id="answer2" name="answer" placeholder="Your answer"></div>
    </div>

    <div class="answer3-div">
        <div class="name">3.Answer</div>
        <div class="input-div"><input type="input" id="answer3" name="answer" placeholder="Your answer"></div>
    </div>

    <div class="answer4-div">
        <div class="name">4.Answer</div>
        <div class="input-div"><input type="input" id="answer4" name="answer" placeholder="Your answer"></div>
    </div>

    <div class="correctanswer-div">
        <div class="name">Correct Answer</div>
        <div class="input-div"><input type="input" id="correctanswer" name="answer" placeholder="Your answer"></div>
    </div>

    <a href="index.html">
        <button class="btn1" onclick="store()" type="submit">Submit</button>
    </a>
    <a href="question.html">
        <button onclick="store()" class="btn2">Next </button>
    </a>

</div>
