<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Panel</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">

        </div>
        <ul>
            <li><img [src]="ee">&nbsp; <span>Dashboard</span> </li>
            <li><img [src]="student">&nbsp;<span>Students</span> </li>
            <li><img [src]="ins">&nbsp;<span>Instructor</span> </li>
            <li><img [src]="cc">&nbsp;<a routerLink="/Dashbord/Courses">Courses</a> </li>

            <li><img [src]="feed"><span> <tr> </tr>Feedback</span>
            </li>
        </ul>
    </div>
    <div class="container">

        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>2194</h1>
                        <h3>Students</h3>
                    </div>
                    <div class="icon-case">
                        <img [src]="student" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>53</h1>
                        <h3>Teachers</h3>
                    </div>
                    <div class="icon-case">
                        <img [src]="ins" alt="">
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <h1>350000</h1>
                        <h3>Income</h3>
                    </div>
                    <div class="icon-case">
                        <img [src]="income" alt="">
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Recent Payments</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>School</th>
                            <th>Amount</th>
                            <th>Option</th>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                    </table>
                </div>
                <div class="new-students">
                    <div class="title">
                        <h2>New Students</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>Profile</th>
                            <th>Name</th>
                            <th>option</th>
                        </tr>
                        <tr>
                            <td><img [src]="mm" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><img [src]="d" alt=""></td>
                        </tr>
                        <tr>
                            <td><img [src]="mm" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><img [src]="d" alt=""></td>
                        </tr>
                        <tr>
                            <td><img [src]="mm" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><img [src]="d" alt=""></td>
                        </tr>
                        <tr>
                            <td><img [src]="mm" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><img [src]="d" alt=""></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
