<div class="main-menu">


    <ul>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img [src]="ee">
        <li class="menu-item"><img [src]="dash">&nbsp; <span>Dashboard</span> </li>
        <li class="menu-item"><img [src]="cc">&nbsp; <span>Courses</span> </li>
        <li class="menu-item"><img [src]="ins">&nbsp;<span>Instructor</span> </li>
        <li class="menu-item"><img [src]="grade"> &nbsp;<span> Grades</span></li>

        <li class="menu-item"><img [src]="visa"> &nbsp;<span> Payment</span></li>
        <li class="menu-item"><img [src]="feed">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span> Feedback</span>
            <li class="menu-item"><img [src]="help">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<span>Help</span></li>

    </ul>
</div>
<div>
    <img id="a" [src]="elearn">
</div>
